.employee-overview__container {
    display: flex;
    gap: $base-padding;
    max-height: 95vh;
}

.employee-overview__filter {
    min-width: 250px;
}

.employee-overview__list {
    min-width: 350px;
    flex: 1;
}