.employee-filter__container {
    display: flex;
    flex-direction: column;
    gap: $base-padding * 2;
    border: 1px solid var(--background-border);
    box-sizing: border-box;
    padding: $base-padding;
}

.employee-filter__filter-input-container {
    height: $input-height;
    position: relative;
    display: flex;
}

.employee-filter__clear-button {
    position: absolute;
    top: $base-padding / 2;
    right: $base-padding / 2;
    width: $input-clear-button-size;
    height: $input-clear-button-size;
    cursor: pointer;
    transition: filter 0.15s;
}

.employee-filter__clear-button:hover {
    filter: $close-icon-hover-svg-filter;
}

.employee-filter__filter-option-container {
    height: $input-height;
    display: flex;
    gap: $base-padding;
    justify-content: flex-start;
    align-items: center;
}

.employee-filter__add-button {
    padding: 0;
    border: none;
    border-radius: 2px;
    align-self: flex-end;
    width: $button-width;
    height: $button-height;
    color: var(--on-primary-front);
    background-color: var(--primary-front);
    font: $label-font;
    cursor: pointer;
    transition: 0.15s;
}

.employee-filter__add-button:hover {
    background-color: var(--primary-front-hover);
}

.employee-filter__checkbox {
    width: $checkbox-size;
    height: $checkbox-size;
    margin: 0;
    cursor: pointer;
}

.employee-filter__input {
    width: $input-filter-width;
    height: $input-height;
    border: 1px solid var(--tool-border);
    border-radius: 1px;
    box-sizing: border-box;
    background-color: var(--input);
    font: $label2-font;
    flex: 1;
    padding-left: $base-padding;
    padding-right: $base-padding * 3;
}

.employee-filter__checkbox-label {
    user-select: none;
}