.employee-overview__container {
    display: flex;
    gap: $base-padding;
    max-height: 95vh;
}

.employee-overview__filter {
    min-width: $filter-section-min-width;
}

.employee-overview__list {
    min-width: $list-section-min-width;
    flex: 1;
}