.employee-form__container {
    display: flex;
    flex-direction: column;
    margin-top: $base-padding * 2.75;
    flex: 1;
}

.employee-form__form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: $base-padding;
}

.employee-form__full-name-container {
    display: flex;
    justify-content: space-between;
}

.employee-form__full-name-text {
    align-self: center;
}

.employee-form__full-name-input {
    width: $input-form-width;
    height: $input-height;
    border: 1px solid var(--tool-border);
    border-radius: 1px;
    box-sizing: border-box;
    background-color: var(--input);
    font: $label2-font;
}

.employee-form__position-container {
    display: flex;
    justify-content: space-between;
}

.employee-form__position-text {
    align-self: center;
}

.employee-form__position-input {
    width: $input-form-width;
    height: $input-height;
    border: 1px solid var(--tool-border);
    border-radius: 1px;
    box-sizing: border-box;
    background-color: var(--input);
    font: $label2-font;
}

.employee-form__manager-container {
    height: $input-height;
    display: flex;
    gap: $base-padding;
    align-items: center;
}

.employee-form__manager-checkbox {
    width: $checkbox-size;
    height: $checkbox-size;
    margin: 0;
    cursor: pointer;
}

.employee-form__manager-checkbox-label {
    user-select: none;
}

.employee-form__buttons-container {
    display: flex;
    gap: $base-padding;
    justify-content: flex-end;
}

.employee-form__save-button {
    padding: 0;
    border: none;
    border-radius: 2px;
    width: $button-width;
    height: $button-height;
    color: var(--on-primary-front);
    background-color: var(--primary-front);
    font: $label-font;
    cursor: pointer;
    transition: 0.15s;
}

.employee-form__save-button:hover {
    background-color: var(--primary-front-hover);
}

.employee-form__save-button:disabled {
    background-color: var(--primary-front-disabled);
    cursor: default;
}

.employee-form__cancel-button {
    padding: 0;
    border: none;
    border-radius: 2px;
    width: $button-width;
    height: $button-height;
    color: var(--on-primary-front);
    background-color: var(--primary-front);
    font: $label-font;
    cursor: pointer;
    transition: 0.15s;
}

.employee-form__cancel-button:hover {
    background-color: var(--primary-front-hover);
}
