.employee-list-item__container {
    position: relative;
    display: flex;
    gap: $base-padding * 1.5;
    padding: $base-padding;
    height: $list-item-height;
    border: 1px solid var(--background-border);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--primary-back);
}

.employee-list-item__employee-info {
    display: flex;
    flex-direction: column;
    gap: $base-padding;
}

.employee-list-item__employee-full-name {
    font: $bigger-bold-font;
}

.employee-list-item__text-button {
    color: var(--primary-front);
    cursor: pointer;
    transition: 0.15s;
}

.employee-list-item__text-button:hover {
    color: var(--primary-front-hover);
}

.employee-list-item__manager-mark {
    position: absolute;
    width: 25px;
    height: 25px;
    top: $base-padding / 2;
    left: $base-padding / 2;
}

.employee-list-item__avatar {
    width: 80px;
    height: 80px;
    border: 1px solid var(--background-border);
    box-sizing: border-box;
}

.employee-list-item__employee-profile {
    display: flex;
    flex-direction: column;
    gap: $base-padding * 1.5;
    flex: 1;
}

.employee-list-item__text-buttons {
    display: flex;
    justify-content: flex-end;
    gap: $base-padding;
}