.employee-list-item__container {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 7px;
}

.employee-list-item__employee-info {
    display: flex;
    flex-direction: column;
}

.employee-list-item__employee-full-name {
    font-weight: 600;
}

.employee-list-item__employee-position {
    font-size: smaller;
    margin-top: 5px;
}

.employee-list-item__text-button {
    font-size: smaller;
    color: #2177B7;
    cursor: pointer;
    align-self: flex-end;
}

.employee-list-item__avatar {
    width: 80px;
    height: 80px;
    border: 1px solid lightgray;
}

.employee-list-item__employee-profile {
    display: flex;
    gap: 10px;
}

.employee-list-item__text-buttons {
    display: flex;
    gap: 5px;
}