<div class="message-dialog-window-content__container">
    <span>{{ messageText }}</span>
    <div class="message-dialog-window-content_buttons">
        <button
            v-if="buttonType === 'ok' || buttonType === 'okCancel'"
            @click="onConfirm(employee)"
        >Ок</button>
        <button
            v-if="buttonType === 'yesNo' || buttonType === 'yesNoCancel'"
            @click="onConfirm(employee)"
        >Да</button>
        <button
            v-if="buttonType === 'yesNo' || buttonType === 'yesNoCancel'"
            @click="onClose"
        >Нет</button>
        <button
            v-if="buttonType === 'okCancel' || buttonType === 'yesNoCancel'"
            @click="onClose"
        >Отмена</button>
    </div>
</div>