<ul class="employee-list__container">
    <li
        v-if="loading"
        class="employee-list__loading"
    >Loading...</li>
    <li
        v-else-if="!employees.length"
        class="employee-list__no-data"
    >No data</li>
    <transition-group name="list">
        <EmployeeListItem
            class="employee-list__list-item"
            v-for="employee in employees"
            :key="employee.id"
            :employee="employee"
        />
    </transition-group>
</ul>