.modal-window__container {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    display: flex;
}

.modal-window__content {
    margin: auto;
    background-color: var(--surface);
    border: 1px solid var(--background-border);
    border-radius: 2px;
    box-sizing: border-box;
    padding: $base-padding / 2 $base-padding $base-padding $base-padding;
    width: $modal-window-width;
    height: $modal-window-height;
    display: flex;
    flex-direction: column;
}

.modal-window__header {
    display: flex;
    justify-content: space-between;
}

.modal-window__title-text {
    font: $title-font;
}

.modal-window__close-button {
    margin-top: $base-padding / 2;
    width: $modal-window-close-button-size;
    height: $modal-window-close-button-size;
    cursor: pointer;
    transition: filter 0.15s;
}

.modal-window__close-button:hover {
    filter: $close-icon-hover-svg-filter;
}
