<li class="employee-list-item__container">
    <div class="employee-list-item__employee-profile">
        <div class="employee-list-item__avatar"></div>
        <div class="employee-list-item__employee-info">
            <span class="employee-list-item__employee-full-name">{{ employee.fullName }}</span>
            <span class="employee-list-item__employee-position">{{ employee.position }}<span v-if="employee.isManager"> (Р)</span></span>
        </div>
    </div>
    <div class="employee-list-item__text-buttons">
        <span class="employee-list-item__text-button">Редактировать</span>
        <span class="employee-list-item__text-button" @click="onRemoveEmployee(employee.id)">Удалить</span>
    </div>
</li>