<div class="employee-filter__container">
    <div class="employee-filter__filter-input">
        <input
            type="text"
            id="employeeFilter"
            placeholder="Фильтр"
            :value="inputText"
            @input="textInputHandler"
        >
        <button @click="clearFilterInput">&times;</button>
    </div>
    <div class="employee-filter__filter-option">
        <input
            type="checkbox"
            id="managersCheckbox"
            :checked="onlyManagers"
            @change="checkboxChangeHandler"
        >
        <span>только руководители</span>
    </div>
</div>