.employee-list-item__container {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 10px;
}

.employee-info__container {
    display: flex;
    flex-direction: column;
}

.employee-full-name {
    font-weight: 600;
}

.employee-position {
    font-size: smaller;
    margin-top: 5px;
}

.delete-text-button {
    font-size: smaller;
    color: #2177B7;
    cursor: pointer;
}