.employee-editor__container {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    display: flex;
}

.employee-editor__content {
    margin: auto;
    background-color: white;
    border: 1px solid lightgray;
    padding: 15px;
    min-width: 33vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.employee-editor__header {
    display: flex;
    justify-content: space-between;
}

.employee-editor__title-text {
    font-weight: bold;
}

.employee-editor__close-button {
    border: 1px solid lightgray;
    background-color: white;
}

.employee-editor__close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.employee-editor__full-name-container {
    display: flex;
    gap: 10px;
}

.employee-editor__full-name-text {
    font-size: smaller;
    align-self: center;
    min-width: 70px;
}

.employee-editor__full-name-input {
    flex-grow: 1;
}

.employee-editor__position-container {
    display: flex;
    gap: 10px;
}

.employee-editor__position-text {
    font-size: smaller;
    align-self: center;
    min-width: 70px;
}

.employee-editor__position-input {
    flex-grow: 1;
}

.employee-editor__manager-container {
    display: flex;
    gap: 5px;
}

.employee-editor__manager-checkbox {
    margin: 0;
}

.employee-editor__manager-text {
    font-size: smaller;
}

.employee-editor__buttons-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.employee-editor__save-button {
    border: 1px solid lightgray;
    padding: 6px;
    background-color: white;
}

.employee-editor__save-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.employee-editor__cancell-button {
    border: 1px solid lightgray;
    padding: 6px;
    background-color: white;
}

.employee-editor__cancell-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}