.employee-list-item__container {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 7px;
}

.employee-info__container {
    display: flex;
    flex-direction: column;
}

.employee-full-name {
    font-weight: 600;
}

.employee-position {
    font-size: smaller;
    margin-top: 5px;
}

.text-button {
    font-size: smaller;
    color: #2177B7;
    cursor: pointer;
    align-self: flex-end;
}

.avatar {
    width: 80px;
    height: 80px;
    border: 1px solid lightgray;
}

.employee-profile__container {
    display: flex;
    gap: 10px;
}

.text-buttons__container {
    display: flex;
    gap: 5px;
}