<div class="employee-filter__container">
    <div class="filter-input">
        <input
            type="text"
            id="employeeFilter"
            placeholder="Фильтр"
            v-model="inputTextModel"
            @input="onInputTextChange(inputTextModel)"
        >
        <button @click="clearFilterInput">&times;</button>
    </div>
    <div class="filter-option">
        <input
            type="checkbox"
            id="onlyManagers"
            v-model="managersChecked"
            @change="onCheckboxChange(managersChecked)"
        >
        <span>только руководители</span>
    </div>
</div>