<div
    class="modal-window__container"
    @click.self="onClickClose"
>
    <div class="modal-window__content">
        <div class="modal-window__header">
            <span
                class="modal-window__title-text"
            >{{ titleText }}</span>
            <img
                src="./assets/images/close-icon.svg"
                alt="CloseIcon"
                class="modal-window__close-button"
                v-if="!hideCloseButton"
                @click="onClickClose"
            >
        </div>
        <slot></slot>
    </div>
</div>