<div class="employee-filter__container">
    <div class="employee-filter__filter-input">
        <input
            type="text"
            id="employeeFilter"
            placeholder="Фильтр"
            :value="inputText"
            @input="onChangeInputTextHandler"
        >
        <button
            class="employee-filter__clear-button"
            @click="onClearFilterInput"
        >&times;</button>
    </div>
    <div class="employee-filter__filter-option">
        <input
            type="checkbox"
            id="managersCheckbox"
            :checked="onlyManagers"
            @change="onChangeCheckboxHandler"
        >
        <span>только руководители</span>
    </div>
    <button
        class="employee-filter__add-button"
        @click="onClickAddButton"
    >Добавить</button>
    <ModalEmployeeEditor
        v-if="showEmployeeEditor"
        :employee="editedEmployee"
        :onSave="onAddEmployee"
        :onClose="onCloseEmployeeEditor"
    />
</div>