<modal-window :titleText="titleText" :hideCloseButton="true" :onClose="onCancel">
    <div class="message-dialog__container">
        <span>{{ messageText }}</span>
        <div class="message-dialog_buttons">
            <button
                v-if="dialogType === 'ok'"
                @click="onConfirm"
            >{{ confirmTitleText }}</button>
            <button
                v-if="dialogType === 'yesNo' || dialogType === 'yesNoCancel'"
                @click="onConfirm"
            >Да</button>
            <button
                v-if="dialogType === 'yesNo' || dialogType === 'yesNoCancel'"
                @click="onDeny"
            >Нет</button>
            <button
                v-if="dialogType === 'yesNoCancel'"
                @click="onCancel"
            >Отмена</button>
        </div>
    </div>
</modal-window>