<div class="employee-filter__container">
    <div class="employee-filter__filter-input-container">
        <input
            type="text"
            class = "employee-filter__input"
            placeholder="Фильтр"
            :value="inputText"
            @input="onChangeInputTextHandler"
        >
        <img
            src="./assets/images/close-icon.svg"
            alt="CloseIcon"
            class="employee-filter__clear-button"
            @click="onClearFilterInput"
        >
    </div>
    <div class="employee-filter__filter-option-container">
        <input
            type="checkbox"
            class = "employee-filter__checkbox"
            :checked="onlyManagers"
            id="employee-filter-checkbox"
            @change="onChangeCheckboxHandler"
        >
        <label
            class="employee-filter__checkbox-label"
            for="employee-filter-checkbox"
        >только руководители</label>
    </div>
    <button
        class="employee-filter__add-button"
        :disabled="loading"
        @click="onClickAddButton"
    >Добавить</button>
</div>